BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlwaysBreakTemplateDeclarations: Leave
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Linux
BreakStringLiterals: true
ColumnLimit: 110
IncludeBlocks: Merge
IndentWidth: 4
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
QualifierAlignment: Leave
ReferenceAlignment: Pointer
SeparateDefinitionBlocks: Leave
SortIncludes: Never
SpaceAfterCStyleCast: true
SpacesInLineCommentPrefix:
  Maximum: 1
  Minimum: 1
UseTab: Never
